@model Team17Project.Models.User

@{ 
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = Model.Username;
    var email = Model.Email;
}

<style>
    .info-row {
        margin-top: 5px;
    }
</style>

<h2>Thông tin cá nhân</h2>
<hr />

<div class="container">
    <div class="form-inline">
        <div class="row info-row">
            <label for="username" class="col-md-offset-2 col-md-2">Tên đăng nhập:</label>
            <input type="text" name="username" value=@username class="form-control" disabled><br />
        </div>
        <div class="row info-row">
            <label for="email" class="col-md-offset-2 col-md-2">Email</label>
            <input type="text" name="text" value=@email class="form-control" disabled>


        </div>
        <div class="row">
            <div class="col-md-offset-4 info-row">
                @Html.ActionLink("Chỉnh sửa thông tin", "Edit", "Users", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 info-row">
                @Html.ActionLink("Đổi mật khẩu", "EditPass", "Users", htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>

    </div>
</div>
